<!--===HEADER SECTION===-->
<table align="center" width="<%= current_page.data.table_width %>" id="headerSection" class="fixed-table" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td align="center" valign="top" <%= current_page.data.headerColor %>>
      <table align="center" width="<%= current_page.data.nested_width %>" class="fixed-table" cellpadding="0" cellspacing="0" border="0" <%= current_page.data.headerBGColor %>>
        <tr>
          <td align="center" style="padding-top:20px; padding-bottom:20px;"><a alias="pubLogo" name="pubURL" href="%%=RedirectTo(@PUBURL)=%%" target="_blank" style="text-decoration: none; <%= current_page.data.headerALTColor %>"><img src="%%=v(@PUBLOGO)=%%" width="%%=v(@logoWidth)=%%" border="0" alt="%%=v(@PUBNAME)=%%" id="logo" style="height:auto; font-family:Arial, Helvetica, sans-serif; font-size:25px; <%= current_page.data.headerALTColor %> line-height:30px; text-decoration: none;" /></a></td>
        </tr>
        <tr>
          <td valign="top" align="center" style="padding-bottom:20px;"><a alias="hdrImg" href="%%=RedirectTo(@promoURL)=%%" target="_blank" style="text-decoration: none; <%= current_page.data.headerALTColor %>"><img id="hdr-img" src="<%= current_page.data.hdrimg %>" width="<%= current_page.data.hdr_width %>" border="0" alt="<%= current_page.data.hdr_alt %>" style="display:block;height:auto; font-family:Arial, Helvetica, sans-serif; font-size:20px; <%= current_page.data.headerALTColor %> line-height:25px; text-decoration: none;" class="full-img" /></a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--===END HEADER SECTION===-->