<!--===HEADER SECTION===-->
<table align="center" width="<%= current_page.data.table_table_width %>" class="fixed-table" cellpadding="0" cellspacing="0" border="0" style="width: <%= current_page.data.css_table_width %>;">
  <tr>
    <td align="center" valign="top" <%= current_page.data.headerOuterBG %>>
      <table align="center" width="<%= current_page.data.table_nested_width %>" class="fixed-table" cellpadding="0" cellspacing="0" border="0" <%= current_page.data.headerBG %> style="width: <%= current_page.data.css_nested_width %>;">
        <tr>
          <td background="http://image.exct.net/lib/fe6215707d6304757115/m/7/MX_5462_PhoneHDR.jpg" bgcolor="#000001" width="100%" valign="top" align="center" style="width: 100%; background-repeat: no-repeat; background-position: right;">
            <!--[if gte mso 9]>
            <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" width="600" style="width:600;">
            <v:fill type="frame" src="http://image.exct.net/lib/fe6215707d6304757115/m/7/MX_5462_PhoneHDR.jpg" color="#000001" />
            <v:textbox style="mso-fit-shape-to-text:true" background-position: right; inset="0,0,0,0">
            <![endif]-->
            <div>
              <table align="center" width="600" class="fixed-table" cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
                <tr>
                  <td align="left" valign="top" class="headerMobile" style="font-family: %%[ IF not empty(@FONTTYPE) THEN ]%%'%%=v(@FONTTYPE)=%%', %%[ENDIF]%%Arial, Helvetica, sans-serif; font-size:30px; line-height:35px; font-weight: bold; color:#FFFFFF; padding-top:30px; padding-left:20px; padding-right:20px;">All %%=v(@MARKETAREA)=%%</td>
                </tr>
                <tr>
                  <td align="left" valign="top" class="headerMobile" style="font-family: %%[ IF not empty(@FONTTYPE) THEN ]%%'%%=v(@FONTTYPE)=%%', %%[ENDIF]%%Arial, Helvetica, sans-serif; font-size:30px; line-height:35px; font-weight: bold; color:#FFFFFF; padding-bottom:10px; padding-left:20px; padding-right:20px;">All the time.</td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="font-family: %%[ IF not empty(@FONTTYPE) THEN ]%%'%%=v(@FONTTYPE)=%%', %%[ENDIF]%%Arial, Helvetica, sans-serif; font-size:24px; line-height:29px; font-weight: normal; color:%%=v(@HEXVALUE)=%%; padding-bottom:10px; padding-left:20px; padding-right:20px;">Members get it.</td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="font-family: %%[ IF not empty(@FONTTYPE) THEN ]%%'%%=v(@FONTTYPE)=%%', %%[ENDIF]%%Arial, Helvetica, sans-serif; font-size:18px; line-height:23px; font-weight: normal; color:#FFFFFF; padding-bottom:20px; padding-left:20px;">Activate digital access to take advantage <span class="hide-mobile"><br /></span>of all your member benefits.</td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="padding-bottom:30px; margin-left: 20px; padding-left: 20px;">
                    <table class="btn" align="left" cellpadding="0" cellspacing="0" border="0" style="border-collapse:separate;">
                      <tr>
                        <td height="40" valign="middle" align="center" style="font-family: %%[ IF not empty(@FONTTYPE) THEN ]%%'%%=v(@FONTTYPE)=%%', %%[ENDIF]%%Arial, Helvetica, sans-serif; text-align:center; font-size:22px; line-height:27px; background:#FFFFFF; font-weight:bold; border-collapse:separate;"><a alias="mainCTA" href="%%=RedirectTo(@headerCTA)=%%" target="_blank" style="text-decoration:none; display:block; padding:10px; vertical-align: middle;"><span style="color:#404040; vertical-align: middle;">&nbsp; Activate Now &nbsp;</span></a></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
            <!--[if gte mso 9]>
            </v:textbox>
            </v:rect>
            <![endif]-->
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--===END HEADER SECTION===-->