<!--===HEADER SECTION===-->
<table align="center" width="<%= current_page.data.table_table_width %>" class="fixed-table" cellpadding="0" cellspacing="0" border="0" style="width: <%= current_page.data.css_table_width %>;">
  <tr>
    <td align="center" valign="top" <%= current_page.data.logoOuterBG %>>
      <table align="center" width="<%= current_page.data.table_nested_width %>" class="fixed-table" cellpadding="0" cellspacing="0" border="0" <%= current_page.data.logoBG %> style="width: <%= current_page.data.css_nested_width %>;">
        <tr>
          <td align="center"><a alias="pubLogo" name="pubURL" href="%%=RedirectTo(@PUBURL)=%%" target="_blank" style="text-decoration: none; <%= current_page.data.logoColor %>"><img src="%%=v(@PUBLOGO)=%%" width="%%=v(@logoWidth)=%%" border="0" alt="%%=v(@PUBNAME)=%%" class="logo" style="height:auto; font-family: Arial, Helvetica, sans-serif; font-size:25px; <%= current_page.data.logoColor %> line-height:30px; text-decoration: none;" /></a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--===END HEADER SECTION===-->