<!--===BANNER SECTION===-->
<table align="center" width="<%= current_page.data.table_table_width %>" class="fixed-table" cellpadding="0" cellspacing="0" border="0" style="width: <%= current_page.data.css_table_width %>;">
  <tr>
    <td align="center" valign="top" <%= current_page.data.networkOuterBG %>>
      <table align="center" width="<%= current_page.data.table_nested_width %>" class="fixed-table" cellpadding="0" cellspacing="0" border="0" <%= current_page.data.networkBG %> style="width: <%= current_page.data.css_nested_width %>;">
        <tr>
          <td align="center" valign="top" style="font-family:Arial, Helvetica, sans-serif; <%= current_page.data.networkColor %> font-size:16px; line-height:21px; font-weight:normal; padding-top:20px; padding-bottom:20px; padding-left: 20px; padding-right: 20px;">
            %%[ IF @myPubBrand != "1287YD00" AND @myPubBrand != "1287ED00" THEN ]%%
            <em>%%=v(@PUBNAME)=%%</em> is a proud part of the USA TODAY NETWORK, uniting 3,500+ award-winning journalists, reliable sources, and advanced technology, all to ensure that you're better informed every day.
            %%[ ENDIF ]%%
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--===END BANNER SECTION===-->