<!--===BANNER SECTION===-->
<table align="center" width="<%= current_page.data.table_table_width %>" class="fixed-table" cellpadding="0" cellspacing="0" border="0" style="width: <%= current_page.data.css_table_width %>;">
  <tr>
    <td align="center" valign="top" <%= current_page.data.topBannerOuterBG %>>
      <table align="center" width="<%= current_page.data.table_nested_width %>" class="fixed-table" cellpadding="0" cellspacing="0" border="0" <%= current_page.data.topBannerBG %> style="width: <%= current_page.data.css_nested_width %>;">
        <tr>
          <td align="center" valign="top" style="font-family:Arial, Helvetica, sans-serif; <%= current_page.data.topBannerColor %> font-size:22px; line-height:27px; font-weight:bold; padding-top:10px; padding-bottom:10px;"><%= current_page.data.toptopBannerText %></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--===END topBanner SECTION===-->